@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,900&family=Montserrat:ital,wght@0,400;0,500;0,700;1,500&family=Mulish:wght@500&family=Oswald:wght@700&family=Playfair+Display:ital,wght@0,900;1,600&family=Roboto+Slab:wght@700;800&family=Roboto:ital@1&display=swap');
.form-style {
    border: 1px solid rgb(146, 137, 137);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: rgb(202, 205, 218);
    
}
.successfull-register {
  border: 1px solid gray;
  border-radius: 10px;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  text-align: center;
}

.form-logo {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
.error-reg-btn {
  background-color: red;
}
.noerror-reg-btn {
  background-color: green;
  transition: all .8s ease-in;
}
.noerror-reg-btn {
  transform-origin: bottom center;
  transform: skewY(9.3deg) scaleY(2);
}
.ssh:focus{
  border: 2px solid red;
}
.input-error {
  color: rgb(255, 255, 255);
  font-size: 14px;
  letter-spacing: .5px;
  background-color: rgb(240, 59, 14);
  border-radius: 5px;
  margin-top: 3px;
}
.error-btn{
  background-color: red;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
  transform-origin: bottom center;
  border: none;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;

}
.error-btn{
  opacity: 1;
  transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
  font-family: 'Montserrat', sans-serif
}
.no-error-btn {
  background-color: green;
  transform-origin: bottom center;
  font-family: 'Montserrat', sans-serif;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;}
  
.no-error-btn {
  opacity: 1;
  transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
} 
.log-in-btn{
  background-color: green;
  font-family: 'Montserrat', sans-serif;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;}
.navbar-style {
  text-decoration: none;
  color: aliceblue;
  font-weight: 700;
  font-size: 18px;
}

